{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Bon de commande</h3>
    </div>

    <div class="alert alert-info">
        Pour effectuer votre commande:
    </div>

    <ul class="list-group">
        <li class="list-group-item">Cliquer sur le bouton nouvelle commande</li>
        <li class="list-group-item">Choisir les produits souhaités</li>
        <li class="list-group-item">Cliquer sur Panier</li>
        <li class="list-group-item">Remplir le formulaire et cliquer sur "Envoyer la commande"</li>
    </ul>

{% endblock %}
