{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Bon de commande</h3>
        <div class="card-body">

            <div class="alert alert-info">
                Pour effectuer votre commande:
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('acmaintenance_commande') }}">
                        Cliquer sur le bouton nouvelle commande</a>
                </li>
                <li class="list-group-item">Choisir les produits souhaités</li>
                <li class="list-group-item">Cliquer sur Panier</li>
                <li class="list-group-item">Remplir le formulaire et cliquer sur "Envoyer la commande"</li>
            </ul>

        </div>
    </div>

{% endblock %}
