<a href="{{ path('acmaintenance_produit') }}" class="btn btn-primary" role="button"><i
            class="fas fa-list"></i> Retour à la liste</a>

<a href="{{ path('acmaintenance_produit_edit', { 'id': produit.id }) }}" class="btn btn-primary" role="button"><i
            class="far fa-edit"></i> Editer</a>

<a href="{{ path('acmaintenance_produit_associate', { 'id': produit.id }) }}" class="btn btn-primary" role="button"><i
            class="fas fa-link"></i> Associer</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer le produit
</button>
<br/>
