{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Edition de {{ produit }}</h3>
        </div>
        <div class="card-body">
            {% include '@AcMarcheMaintenanceShop/produit/_form.html.twig' %}
        </div>
    </div>

{% endblock %}
