{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Edition de {{ produit }}</h3>
    </div>

    {{ form(edit_form) }}

{% endblock %}

