{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des produits</h3>
    </div>

    {% include '@AcMarcheMaintenanceShop/search/produit.html.twig' with {'form': search_form } %}

    <br/>
    {% if search and produits | length == 0 %}
        <p class="text-warning">Aucun produit trouvé</p>
    {% endif %}

    {% if produits | length > 0 %}
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td><a href="{{ path('acmaintenance_produit_show', { 'id': produit.id }) }}">{{ produit }}</a></td>
                    <td>{{ produit.categorie }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
