{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Nouveau produit</h3>
    </div>

    {% include '@AcMarcheMaintenanceShop/produit/_form.html.twig' %}

{% endblock %}
