{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>{{ produit }}</h3>
    </div>

    <h4 class="text-success">Catégorie:</h4>
    <p><strong>{{ produit.categorie }}</strong></p>

    {% include '@AcMarcheMaintenanceShop/produit/actions.html.twig' with {'produit': produit } %}

    {% include '@AcMarcheMaintenanceShop/produit/delete.html.twig' with {'delete_form': delete_form } %}
{% endblock %}
