<h3>Liste des produits</h3>

{% if entity.produits | length > 0 %}
    <ul class="list-group">
        {% for entity in entity.produits %}

            <li class="list-group-item"><a href="{{ path('acmaintenance_produit_show', { 'id': entity.id }) }}">{{ entity }}</a></li>

        {% endfor %}
    </ul>

{% endif %}

