<h4 class="text-success">Liste des produits ({{ produits | length }})</h4>
{% if produits | length > 0 %}
    <ul class="list-group">
        {% for produit in produits %}
            <li class="list-group-item">
                <a href="{{ path('acmaintenance_produit_show', { 'id': produit.id }) }}">{{ produit }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
