{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Catégorie <strong>{{ categorie }}</strong></h3>
    </div>

    {% include '@AcMarcheMaintenanceShop/categorie/actions.html.twig' with {'categorie': categorie } %}

     {% include '@AcMarcheMaintenanceShop/categorie/produits.html.twig' with {'categorie': categorie } %}

    {% include '@AcMarcheMaintenanceShop/categorie/delete.html.twig' with {'delete_form': delete_form } %}
{% endblock %}
